/* Общие стили */
.map {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.map-content {
  width: 100%;
  height: auto;
  display: block;
  transform-box: view-box;
  transform-origin: 50% 50%;
  transform: translate(-28%, -2%) scale(1.6);
  will-change: transform;
}

/* Стили подписей */
.punkt-cn,
.punkt-kz,
.label-country {
  opacity: 0;
  transform-origin: center;
  transform-box: fill-box;
}

/* Стили пинов */
.start-map {
  opacity: 0;
  transform: scale(0.3) translateY(-10px);
  transform-origin: center;
  transform-box: fill-box;
}

.end-map {
  opacity: 0;
  transform: scale(0.3) translateY(30px);
  transform-origin: center;
  transform-box: fill-box;
}

/* Стили дорог */
.route {
  opacity: 0;
  transform-origin: center;
  transform-box: fill-box;
}

/* Стили стран */
#country-kg,
#country-uz,
#country-ru,
#country-br,
#country-az
 {
  opacity: 1;
  fill: #efefef;
}