/* Стили Operator */

.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url(../../assets/images/hero-3.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(5px) brightness(50%);
}

.hero__container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero__image {
  position: relative;
  z-index: 2;
  display: block;
}

.arrow-link {
  position: absolute;
  bottom: clamp(32px, 5vw, 100px);
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  animation: arrow-bounce 2s infinite ease-in-out;
}

.operator-benefits__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 24px 32px;
}
.operator-benefits__grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  overflow: hidden;
}

.operator-benefits__grid-item:hover .operator-benefits__image {
    position: relative;
    filter: brightness(0.2) blur(1px);
    cursor: pointer;
    scale: 1.1;
}

.operator-benefits__image {
    transition: filter 0.3s ease, scale 0.3s ease;
}

.operator-benefits__btn {
  position: absolute;
  bottom: -32px;
  align-self: center;
  opacity: 0;
}

.operator-benefits__grid-item:hover .operator-benefits__btn {
  bottom: 32px;
  opacity: 1;
}


.operator-services__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  justify-content: center;
  gap: 32px;
}

.operator-services__grid-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* растягивается по колонке */
  max-width: 360px; /* ограничим максимальную ширину */
  margin: 0 auto; /* центрирует */
  border-radius: 16px;
  overflow: hidden;
  color: var(--primary-color);
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
  aspect-ratio: 4 / 5;
}

/* Обёртка контента */
.operator-services__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}

/* Заголовок */
.operator-services__title {
  z-index: 3;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: clamp(18px, 2.5vw + 1rem, 30px);
  text-align: center;
  transition: opacity 0.3s ease;
}

/* Скрытое описание */
.operator-services__desc {
  position: absolute;
  right: 24px;
  bottom: 24px;
  left: 24px;
  z-index: 3;
  opacity: 0;
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: clamp(18px, 1.2vw, 24px);
  line-height: 1.4;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

/* Затемнение при ховере */
.operator-services__grid-item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
}

/* Показываем описание при ховере */
.operator-services__grid-item:hover::before {
  opacity: 1;
}

.operator-services__grid-item:hover .operator-services__desc {
  opacity: 1;
  transform: translateY(0);
}

.operator-services__grid-item:hover .operator-services__title {
  opacity: 0.2;
}

.operator__slider-wrapper {
  align-self: center;
  max-width: 100%;
  margin-top: 32px;
}

.swiper {
  margin-right: 0;
  margin-left: 0;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-box {
  width: 100%;
  /* aspect-ratio: 16 / 9; Включить после нормальных картинок*/
  overflow: hidden;
  position: relative;
  padding: 10px 0;
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent-color);
}

.swiper-button-prev::after {
  animation: arrow-bounce-left 2s infinite ease-in-out;
}

.swiper-button-next {
  animation: arrow-bounce-right 2s infinite ease-in-out;
}

.card {
  background-color: transparent;
  max-width: 300px;
  aspect-ratio: 3/2;
  perspective: 1000px; /* добавляет эффект 3D */
  border-radius: 16px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Наведение */
.card:hover .card-inner,
.card.flipped .card-inner {
  transform: rotateY(-180deg);
}

.card:hover {
  cursor: pointer;
}

/* Стороны карточки */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  border: 2px solid var(--accent-color);
}

/* Передняя сторона */
.card-front {
  overflow: hidden;
}

.card-front::after {
  content: '';
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/svg/question-circle-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Задняя сторона */
.card-back {
  transform: rotateY(-180deg);
  flex-direction: column;
  /*gap: 24px; Возможно потом стоит вернуть*/ 
  text-align: center;
  padding: 24px;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--secondary-color);
}

.card__text {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 320px) and (max-width: 499px) {
  .operator-benefits__grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .operator-services__grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (min-width: 500px) and (max-width: 1100px) {
  .operator-benefits__grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .operator-services__grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}









