@keyframes arrow-bounce {
  0%   { transform: scale(.7) translateY(0); }
  50%  { transform: scale(1) translateY(10px); }
  100% { transform: scale(.7) translateY(0); }
}

@keyframes arrow-bounce-left {
  0%   { transform: scale(.7) translateX(0); }
  50%  { transform: scale(1) translateX(-10px); }
  100% { transform: scale(.7) translateX(0); }
}

@keyframes arrow-bounce-right {
  0%   { transform: scale(.7) translateX(0); }
  50%  { transform: scale(1) translateX(10px); }
  100% { transform: scale(.7) translateX(0); }
}

.page {
  position: relative;
  min-width: 375px;
  max-width: 1920px;
  min-height: 100vh;
  color: var(--secondary-color);
  font-family: var(--main-font);
  line-height: var(--line-height);
  background-color: var(--primary-color);
}

.section {
  width: 100%;
  margin: 0 auto;
}

.section--accent {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.section__title {
  margin-bottom: 40px;
  font-family: var(--accent-font);
  font-weight: 800;
  font-size: var(--font-h2);
  text-align: center;
}

.section__subtitle {
  margin-bottom: 40px;
  font-family: var(--accent-font);
  font-weight: 800;
  font-size: var(--font-h3);
  text-align: center;
}

.section__text {
  font-size: var(--font-text-large);
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: var(--container-padding-inline);
  padding-block: var(--container-padding-block);
}

.btn {
  display: inline-block;
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  color: var(--primary-color);
  font-weight: 600;
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  scale: 1.1;
}

.btn--light {
  border: 3px solid var(--primary-color);
  background-color: transparent;
}

.btn--primary {
  background-color: var(--accent-color);
}

.arrow-link {
  position: absolute;
  bottom: clamp(32px, 5vw, 100px);
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  animation: arrow-bounce 2s infinite ease-in-out;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 0;
  padding-inline: var(--container-padding-inline);
  background-color: var(--primary-color);
}

.header__logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo {
  display: block;
  width: auto;
  height: 100%;
  min-height: 27px;
  max-height: 70px;
  object-fit: contain;
}

.nav {
  flex: 1;
  margin: 0 48px;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.nav__link {
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.nav__burger {
  display: none;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.lang-switcher {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon--small {
  width: 24px;
  height: 24px;
}

.phone-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 320px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-menu__close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

/* Стили секций */
.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url(../../assets/images/hero.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(2px) brightness(20%);
}

.hero__container {
  position: relative;
  background-image: url(../../assets/images/hero.jpg);
  background-position: left center;
}

.hero__container::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero__container > * {
  position: relative;
  z-index: 2;
}

.hero__title {
  font-size: var(--font-h1);
}
.hero__text {
  margin-top: 16px;
  font-size: var(--font-text-large);
}

.hero__btn {
  margin-top: 48px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.benefit-card__icon {
  display: flex;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}

.benefit-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.benefit-card__title {
  font-family: var(--accent-font);
  font-weight: 600;
  font-size: var(--font-text-medium);
  line-height: 120%;
}

.service,
.keypartner__container {
  text-align: center;
}

.keypartner__list {
  padding-left: 32px;
  font-size: var(--font-text-large);
  text-align: left;
  list-style: disc;
}

.keypartner__btn {
  margin-top: 48px;
}

.partners__slider-wrapper {
  align-self: center;
  max-width: 100%;
  margin-top: 32px;
}

.swiper {
  margin-right: 0;
  margin-left: 0;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--accent-color);
}

.swiper-button-prev::after {
  animation: arrow-bounce-left 2s infinite ease-in-out;
}

.swiper-button-next {
  animation: arrow-bounce-right 2s infinite ease-in-out;
}

.partners__image {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-content: center;
  gap: 32px;
  padding-inline: clamp(32px, 5vw, 100px);
  padding-block: clamp(24px, 4vw, 48px);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.footer__logos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__title {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: var(--font-h4);
}

.footer__list-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.footer__social-list {
  display: flex;
  gap: 16px;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-inline: clamp(32px, 5vw, 100px);
  padding-block: 24px;
  font-size: 14px;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__policy {
  position: relative;
  text-decoration: none;
}

.footer__policy::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -16px;
  width: 1px;
  height: 20px;
  background-color: var(--primary-color);
}

.footer__lang-switcher {
  margin-left: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section__title {
    margin-bottom: 32px;
  }

  .nav {
    display: none;
  }

  .header__container {
    padding: 16px 24px;
  }

  .header__logo {
    width: auto;
    height: 32px;
    object-fit: contain;
  }

  .nav__burger {
    display: block;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .icon--small {
    width: 18px;
    height: 18px;
  }

  .hero__container {
    background-size: cover;
    background-position: left center;
  }

  .hero__text {
    margin-top: 32px;
  }

  .card-grid--6 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .keypartner__list {
    padding-left: 16px;
  }

  .keypartner__btn {
    margin-top: 32px;
  }

  .footer__top {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__logos {
    flex-direction: row;
    /* justify-content: center; Тут надо подумать */
    overflow: hidden;
  }

  .footer__list-item {
    margin-top: 16px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 32px;
    text-align: center;
  }

  .footer__policy {
    position: relative;
  }

  .footer__policy::before {
    display: none;
  }

  .footer__lang-switcher {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .nav {
    display: none;
  }

  .nav__burger {
    display: block;
  }

  .footer__top {
    grid-template-columns: repeat(3,1fr);
  }

  .footer__logos {
    display: none;
  }
}



